doctype
html
    head
        title Project boilerplate
        meta(charset='utf-8')
        meta(name="description" content="This is a simple project boilerplate, using Grunt as task automation")
        meta(name="keywords" content="Jade, Sass, Grunt")
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel='shortcut icon', type='/image/x-icon', href='favicon.ico')
        link(rel='stylesheet', href='/css/main.css')
    body
        header
            img(src="/img/logo.png" alt="logo")
        .search-section
            input(type="text" placeholder="Enter a twitter account" id="input-search")
            button#button-search
                | Search
        .content-section
            .wrap-response
                .block-header
                    .logo
                        img(src="/img/logo.png" alt="logo")
                    .title
                        .title-name
                            | Invision
                        .title-who
                            | @invision 2h
                    .collapse
                            | ^
                .block-body
                    .description “If we don’t start giving new designers a chance, the design
                        | industry will crumble.” bit.ly/1LHhCfr  @jma245
                    .image
                        img(src="/img/logo.png")
                .block-footer
                    .social-icons
                        | 1 2 3

        script(src="/js/main.min.js")
    footer